extends revealjs

block slides
  section
    h3
      a(href="lesson1.html") lesson 1
    h3
      a(href="lesson2.html") lesson 2
    h3
      a(href="lesson3.html") lesson 3
    h3
      a(href="lesson4.html") lesson 4
    h3
      a(href="lesson5.html") lesson 5
