//- Comments look like this

//- All revealjs things have to start like this
extends revealjs

block slides

  //- This will be one slide
  section
    h1 Heading 1
    h2 Heading 2
    h5 Heading 5
    //- (No! 3! I meant 3!)
  
  section
    h1 Paragraphs
  
    //- most things you write will be in paragraphs
    p This is a paragraph
  
    //- multiline paragraph
    //- on the actual presentation,
    //- this will word-wrap with the clients screen
    p.
      Sed fortuna, quae plurimum
      potest cum in reliquis rebus
      tum praecipue in bello, parvis
      momentis magnas rerum commutationes
      efficit; ut tum accidit.
  
    //- This is poetry
    //- with line-breaks in the paragraph
    p.
      Stabat mater dolorosa
      <br />
      Juxtra crucem lacrimosa,
      <br />
      Dum pendebat filius.
  
  section
    h1 lists
  
    p
      //- unordered list
      ul
        li Item
        li Another item
        li Last item
  
    p
      //- ordered list
      ol
        li Item 1
        li Item 2
        li Item 5
  
  section
    h1 Typographical niceties
    p This is #[strong important stuff] and #[em emphasized stuff].
    p Symbols: &hellip; &gt; &lt; &ndash; &mdash;
    pre
      code.hljs.
        >>> # Python code should look like this
        >>> 3 + 4
        7
        >>> if True:
        ...     print('hi')
  
  section
    h1 presentation goodies
    p 'Escape' for overview
    p 'space', any of the cursor-keys, or click the arrow to advance
    p 'b' or '.' to pause
    p 's' for speaker notes
    p 'f' for fullscreen
    //- these don't show up in the presentation
    //- unless you open the spearker-notes
    aside.notes
      p Just making an aside; I didn't expect the Spanish Inquisition!
      p Nobody #[em expects] the Spanish Inquisition! Surprise is our chief weapon
      pre
        code.hljs.
          >>> print('i iz in ur notes')
          i iz in ur notes
          >>> print('beein ur python codez')
          beein ur python codez
  
  section
    h1 S(l)ide effects
    p There's different types of fragments, like:
    p.fragment.grow this grows
    p.fragment.shrink this shrink
    p.fragment.fade-out this fades out
    p.fragment.fade-up this fades in
    p Fragment <span class="fragment">in a line</span>
    p Highlight <span class="fragment highlight-red">red</span>
  
  
  section
    section
      p Vertical slides
      p press the down arrow
    section
      p more vertical slides
      p use these to show hierarchy
      p or show optional detail
  
  section
    a(href="http://example.com") this is a link
    p
      | An embedded link
      |
      a(href="http://example.com") here
      |
      | in text
      //- Note that there is a space after the pipe on two blank lines.
    p Alternatively <a href="http://example.com">link</a>
  
  
  //- Info about pug https://pugjs.org/language/plain-text.html
  
  //- Reveal.js documentation https://github.com/hakimel/reveal.js
  
  //- Reveal.js example https://github.com/hakimel/reveal.js/blob/master/demo.html
