section
  h1 Functionsssss!
  h2.fragment  What do they even do?

section
  aside.notes Example:
    pre
      code.hljs.
        >>> def greet():
        ...   print("hello")
  h2 Example time!

section
  h2 Parts of a Function
  aside.notes Either consistently tab things or 4-space things
  p.fragment #[code def]
  p.fragment function name
  p.fragment #[code :]
  p.fragment Importance of indentation
  p.fragment
    pre
      code.hljs.
        >>> def greet():
        ...   print("hello")

section
  aside.notes Example:
    pre
      code.hljs.
        >>> def greet(x):
        ...   print("hello")
        ...   print(x)
  h2 Functions with INPUT!?!
  p.fragment Example time again!

section
  h2 Functions can have TWO INPuTS?!?!?!
  p.fragment More example times ahead
  aside.notes Example:
    pre
      code.hljs.
        >>> def greet(x, y):
        ...   print("Hello")
        ...   print(X + y)
