section
  h1 Save it for Later
  h2.fragment Reusing Code
  h2 Lesson 2
  aside.notes Introduce the idea of script files, and how a student
              can write resuable programs and save them for later.
              
// would like to have code in headings, but it only works in paragraphs
section
  h2 Using print
  aside.notes
    
    p A saved program can be more useful if it gives some output.
      
    p Example:
      
    pre
      code.
        >>> tax_rate = 8.25
        >>> price = 25
        >>> sales_tax = price * tax_rate / 100
        >>> print(sales_tax)

    p 