//- Comments look like this

//- This will be one slide
section
   h1 Heading 1
   h2 Heading 2
   h5 Heading 5 //- (No! 3! I meant 3!)

section
  p This is a paragraph

  p. 
    Even though this takes up
    multiple lines in the source
    it will be one word-wrapped line
    in the slide paragraph.

  ul
    li Item 1
    li Item 2
    li Item 5

section
  p This is #[strong important stuff] and #[em emphasized stuff].

