section
  h1 Learn Python!
  h2.fragment  and have fun doing it

section
  h2 Programming languages!

  aside.notes Have you heard of any programming languages?
  p.fragment Programs are sequences of those instructions (like a cookbook)
  p.fragment Programming language: all of the things you could say that the computer understands
  p.fragment Python: my favorite (*) programming language
  p.fragment (*) I have many 'favorite' programming languages.
// Start broad, narrow down
// especially in automata theory, a language is the set of all valid sentences.

section
  aside.notes about 10 minutes (?) for this
  h2 Download the awesome!
  p.fragment: a(href='https://www.python.org/downloads/') https://www.python.org/downloads/
  p.fragment 3.6.2
  p.fragment "Windows x86-64 executable installer"

section
  h2 Python can be a calculator
  p.fragment Understands most math instructions
  p.fragment
    code >>> 3 + 4

// TODO: Online python interpreter? PythonAnywhere, Jupyter Notebook session sharing