section
  h1 Boolean logic!
  p Finally figure out the answer to "To Be or Not To Be"

section
  h2 Boolean variable in Python
  p.fragment The boolean variable can only be one of two values:
  p.fragment True or False
  p.fragment **#[strong REMEMBER!!!] Capitalization matters!**

section
  h1 = vs ==
  pre.fragment
    code.
      >>> a = 3
  pre.fragment
    code.
      >>> a == 3
  pre.fragment
    code.
      True
  pre.fragment
    code.
      >>> a == 4
  pre.fragment
    code.
      False

section
  h1 The mystical and elusive if

section
  h1 if example
  pre.fragment
    code.hljs.
      students = [‘jack’, ‘jill’, ‘joe’]
      for student in students:
        if student == ‘jack’:
          print(‘jack is present’)

section
  h1 elses and elifs

section
  h1 if-elif-else example
  pre.fragment
    code.hljs.
      def f(food):
        if food == ‘pizza’:
          print(“that’s my favorite food”)
        elif food == ‘broccoli’:
          print(“Gross!”)
        else:
          print(“what is “ + food + “?”)

section
  h1 super fun project time!
  p.fragment Update the encrypt/ decrypt wrapper to have a menu based on user input.
